<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FLICKR_KEY</key>
	<string>612b7cb107a492f714b8ca88ebbd6259</string>
	<key>FLICKR_SECRET</key>
	<string>4acdcfa112884a9d</string>
	<key>BASE_URL</key>
	<string>https://api.flickr.com</string>
</dict>
</plist>
